@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root{
    --text-color:#313E51;
    --italic-color: #626C7F;
    --error-color: #EE5454;
    --result-p: #626C7F;
    --bg-elements: #fff;
    --bg-body: #F4F6FA;
    --bg-img: url(./assets/images/pattern-background-desktop-light.svg);
    --bg-img-tablet: url(./assets/images/pattern-background-tablet-light.svg);
    --bg-img-mobile: url(./assets/images/pattern-background-mobile-light.svg);
    --icon-sun-dark: url(./assets/images/icon-sun-dark.svg);
    --icon-moon-dark: url(./assets/images/icon-moon-dark.svg);

}
.dark-theme{
    --text-color:#fff;
    --italic-color: #ABC1E1;
    --error-color: #F4F6FA;
    --result-p: #ABC1E1;
    --bg-elements: #3B4D66;
    --bg-body: #313E51;
    --bg-img: url(./assets/images/pattern-background-desktop-dark.svg);
    --bg-img-tablet: url(./assets/images/pattern-background-tablet-dark.svg);
    --bg-img-mobile: url(./assets/images/pattern-background-mobile-dark.svg);
    --icon-sun-dark: url(./assets/images/icon-sun-light.svg);
    --icon-moon-dark: url(./assets/images/icon-moon-light.svg);
}
*{
    box-sizing: border-box;
    font-family: "Rubik", serif;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.align-i{
    align-items: center;
}

h1, h2, p{
    margin: 0;
}
h1, h2{
    font-size: 64px;
    font-weight: 500;
}
.marg{
    margin: 0 140px;
}
.answer, button{
    cursor: pointer;
}

body{
    font-family: "Rubik", serif;
    font-size: 16px;
    background-color: #000;
    margin: 0;
    color: var(--text-color);
    overflow: hidden;
}
.container {
    max-width: 1440px;
    height: 960px;
    background: var(--bg-img);
    background-color: var(--bg-body);
    margin: 0 auto;
    padding: 83px 0;
}

/* --------Header--------------- */
.themes {
    height: 56px;
}
.quiz_theme {
    visibility: hidden;
}
.title_quiz {
    font-size: 28px;
    font-weight: 500;
}
.screen_theme {
    gap: 16px;
}
input[type="range"]{
    appearance: none;
    width: 48px;
    height: 28px;
    background-color: #A729F5;
    border-radius: 15px;
    padding: 4px;
}
input[type="range"]::-webkit-slider-thumb{
    appearance: none;
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.screen_theme::before{
    content: var(--icon-sun-dark);
    width: 24px;
    height: 24px;
}
.screen_theme::after{
    content: var(--icon-moon-dark);
     width: 24px;
    height: 24px;
}
.main_content {
    margin-top: 85px;
}

/* ---------Welcome page--------- */
.content__welcome {
    width: 100%;
}
.content__welcome button{
    color: var(--text-color);
}
.content__welcome-greeting {
    max-width: 465px;
}
h1{
    margin-bottom: 48px;
}
.header-thin {
    font-weight: 300;
}
.italic_p {
    font-size: 20px;
    font-style: italic;
    line-height: 150%;
    color: var(--italic-color);
}
.content__welcome-nav {
    width: 564px;
}
.icon_quiz-html{
    background-color: #FFF1E9;
    height: 56px;
    width: 56px;
    position: relative;
    border-radius: 8px;
}
.icon_quiz-html::before{
    content: url(./assets/images/icon-html.svg);
    position: absolute;
    top: 8px;
    left: 7px;
}
.icon_quiz-css{
    background-color: #E0FDEF;
    height: 56px;
    width: 56px;
    position: relative;
    border-radius: 8px;
}
.icon_quiz-css::before{
    content: url(./assets/images/icon-css.svg);
    position: absolute;
    top: 8px;
    left: 7px;
}
.icon_quiz-js{
    background-color: #EBF0FF;
    height: 56px;
    width: 56px;
    position: relative;
    border-radius: 8px;
}
.icon_quiz-js::before{
    content: url(./assets/images/icon-js.svg);
    position: absolute;
    top: 8px;
    left: 7px;
}
.icon_quiz-access{
    background-color: #F6E7FF;
    height: 56px;
    width: 56px;
    position: relative;
    border-radius: 8px;
}
.icon_quiz-access::before{
    content: url(./assets/images/icon-accessibility.svg);
    position: absolute;
    top: 8px;
    left: 7px;
}
  button.nav-button{
    display: flex;
    width: 100%;
    padding: 20px;
    align-items: center;
    gap: 32px;
    border-radius: 24px;
    background-color: var(--bg-elements);
    border: none;
}
button.nav-button:hover{
    background-color: rgba(1, 1, 1, 0.05);
}
.nav-button + .nav-button{
    margin-top: 24px;
}

/* ----------Quiz page start------------ */
.quiz__main {
    display: none;
}
.quiz__main-ask {
    width: 465px;
    flex-direction: column;
}
.question {
    font-size: 36px;
    font-weight: 500;
    margin-top: 27px;
}
.progress_block {
    width: 100%;
    height: 16px;
    background-color: var(--bg-elements);
    margin-bottom: 190px;
    border-radius: 9px;
    padding: 4px;
}
.progress-item {
    width: 0%;
    height: 100%;
    background-color: #A729F5;
    border-radius: 6px;
}
.quiz__main-answer {
    width: 564px;
    font-weight: 500;
    /* flex-shrink: 1; */
    margin-left: 30px;
}
.answer {
    display: flex;
    width: 100%;
    height: 92px;
    padding: 18px;
    align-items: center;
    gap: 32px;
    border-radius: 24px;
    background-color: var(--bg-elements);
    border: 3px solid var(--bg-elements);
    position: relative;
}
.answer:hover .v-a{
    background-color: #F6E7FF;
    color: #A729F5;
}
.answer + .answer{
    margin-top: 24px;
}
.answer p{
    font-size: 24px;
}
.v-a{
    width: 56px;
    height: 56px;
    background-color: #F4F6FA;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size: 28px;
    color: #626C7F;
    border-radius: 8px;
}

.answer-submit {
    width: 100%;
    padding: 18px;
    border-radius: 24px;
    background-color: #A729F5;
    border: none;
    margin-top: 32px;
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    padding: 30px;
}
.answer-submit:hover{
    background-color: rgba(167, 41, 245, 0.5);
}
#answer_next{
    display: none;
}
.err{
    visibility: hidden;
    color: var(--error-color);
    font-size: 24px;
    margin-top: 34px;
    text-align: center;
    font-weight: 400;
}
.err::before{
    content: url(./assets/images/icon-error.svg);
    margin-right: 8px;
    vertical-align: middle;
}
.red-border{
    border: 3px solid #EE5454;
}
.red-ground{
    color: #fff;
    background-color: #EE5454;
    padding: 0 19px;
}
.green-border{
    border: 3px solid #26D782;
    font-size: 28px;
}
.green-ground{
    color: #fff;
    background-color: #26D782;
    padding: 0 19px;
}
.purple-border{
    border: 3px solid #A729F5;
}
.purple-ground{
    color: #fff;
    background-color: #A729F5;
    padding: 0 19px;
}
.correct-img{
    margin-left: auto;
}
.incorrect-img{
    margin-left: auto;
}
#answer_check{
    display: none;
}
/* --------------Quiz result------------ */
 .result__quiz {
        display: none;
}
.result_quiz-content {
    width: 564px;
}
.result_wrap{
     background-color: var(--bg-elements);
    border-radius: 24px;
    padding: 48px;
}
.result-title {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.result_amount {
    font-size: 144px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 144px;
    color: var(--text-color);
}
.all_amount {
    font-size: 24px;
    text-align: center;
    color: var(--result-p);
    line-height: 36px;
}

@media  (max-width: 1240px){
    .answer p{
        font-size: 22px;
    }
}
@media  (max-width: 1100px){
    .quiz__main-ask{
        flex-shrink: 2;
    }
    .question{
        font-size: 30px;
    }
}
@media  (max-width: 1020px){
    .answer p{
        font-size: 20px;
    }
}
@media  (max-width: 970px){
    /* -----Welcome block---- */
    .main_content {
        margin-top: 20px;
    }
   .content__welcome > .d-flex{
    display: block;
   }
   .content__welcome-greeting{
    margin: 0 auto;
   }
   h1{
    margin-bottom: 16px;
    line-height: 68px;
   }
   .content__welcome-nav{
    margin: 30px auto;
   }
   button.nav-button{
    padding: 12px;
   }

   /* -----Quiz block-------- */
   .quiz__main > .d-flex{
    display: block;
   }
   .quiz__main-ask{
    width: 100%;
   }
   .progress_block{
    margin-bottom: 64px;
    margin-top: 16px;
   }
   .quiz__main-answer{
    width: 100%;
    margin: 0;
   }
   .answer{
    padding: 12px;
    height: 80px;
   }
   .answer p {
    font-size: 22px;
   }
   .answer-submit{
    padding: 20px;
    font-size: 25px;
   }

   /* -----Result block----- */
   .result__quiz > .d-flex{
    display: block;
   }
   .result_quiz-title{
    margin-bottom: 64px;
   }
   .result_quiz-content{
    margin: 0 auto;
   }
   .result_quiz-content {
    width: unset;
    max-width: 640px;
    }   
}
@media (max-width: 768px) {
    .container {
    max-width: 768px;
    height: 1096px;
    background: var(--bg-img-tablet) no-repeat;
    background-color: var(--bg-body);
    margin: 0 auto;
    padding: 40px 0;
    }
    .themes {
    max-width: 680px;
    margin: 0 auto;
    padding: 0 24px;
    }
    .main_content {
    margin: 49px auto;
    max-width: 680px;
    padding: 0 24px;
    }
    .content__welcome-greeting{
    margin: 0;
    }
    .content__welcome-nav {
    margin: 64px 0;
    width: 100%;
    }
    .question{
        font-size: 36px;
    }
    .answer p {
        font-size: 28px;
    }
    h2{
        line-height: 68px;
    }
    .answer-submit {
        padding: 32px;
        font-size: 28px;
        height: 92px;
    }
    
}
@media (max-width: 556px) {
    .answer{
        gap: 20px
    }
    .answer p {
        font-size: 22px;
    }
}

@media (max-width: 485px) {
   .question{
    font-size: 30px;
   }
    .answer{
        gap: 10px
    }
    .answer p {
        font-size: 20px;
    }
    .answer-submit {
        padding: 26px;
        font-size: 26px;
        height: unset;
    }
}
@media (max-width: 420px) {
    .answer{
        gap: 10px
    }
    .answer p {
        font-size: 18px;
    }
}
@media (max-width: 375px) {
    .container {
        background: var(--bg-img-mobile) no-repeat;
        background-color: var(--bg-body);
        padding: 16px 0;
        height: 100vh;
    }
    h1,h2{
        font-size: 40px;
        line-height: 44px;
    }

    /* --------Header-------- */
    .quiz_theme.d-flex {
        gap: 16px;
    }
    .title_quiz {
        font-size: 18px;
    }
    .icon_quiz-html {
        height: 40px;
        width: 40px;
    }
    .icon_quiz-css {
        height: 40px;
        width: 40px;
    }
    .icon_quiz-js {
        height: 40px;
        width: 40px;
    }
    .icon_quiz-access {
        height: 40px;
        width: 40px;
    }
    .themes{
        height: unset;
    }
    .screen_theme.d-flex {
        gap: 8px;
    }
    input[type="range"] {
        width: 32px;
        height: 20px;
        border-radius: 15px;
    }
    input[type="range"]::-webkit-slider-thumb{
        width: 12px;
        height: 12px;
    }
    .screen_theme::before{
        content: '';
        background: var(--icon-sun-dark);
        background-size: contain;
        width: 16px;
        height: 16px;
    }
    .screen_theme::after{
        content: '';
        background: var(--icon-moon-dark);
        background-size: contain;
        width: 16px;
        height: 16px;
    }
    

    /* --------Welcome block------- */
    .italic_p{
        font-size: 14px;
    }
    .content__welcome-nav{
        margin: 40px 0;
    }
    .icon_quiz-html::before {
        top: 0px;
        left: 0px;
    }
    .icon_quiz-css::before {
        top: 0px;
        left: 0px;
    }
    .icon_quiz-js::before {
        top: 0px;
        left: 0px;
    }
    .icon_quiz-access::before {
        top: 0px;
        left: 0px;
    }
    button.nav-button{
        border-radius: 12px;
    }
    .nav-button + .nav-button {
        margin-top: 12px;
    }
    
    /* -------Quiz block-------  */
    .question {
            font-size: 20px;
            margin-top: 12px;
        }
    .d-flex{
        gap: 16px;
    }
    .quiz__main-ask.d-flex{
        gap: 16px;
    }
    .progress_block {
        margin-bottom: 40px;
        margin-top: unset;
    }
    .v-a {
        width: 40px;
        height: 40px;
        font-size: 18px;
        border-radius: 6px;
    }
    .answer{
        height: 64px;
        border-radius: 12px;
    }
    .answer + .answer {
        margin-top: 12px;
    }
    .correct-img, .incorrect-img{
        width: 32px;
        height: 32px;
    }
    .answer-submit{
        padding: 12px;
        border-radius: 12px;
        margin-top: 12px;
        font-size: 18px;
        height: 56px;
    }
     
    /* ------Result block------  */
    .result_quiz-title {
        margin-bottom: 40px;
    }
    .result_wrap {
        border-radius: 12px;
        padding: 32px;
    }
    .result_amount {
        font-size: 88px;
        margin: 16px 0;
        line-height: 88px;
    }
    .all_amount {
        font-size: 18px;
    }
}